@import 'variables';

header {
    background-color: $dark-gray; 
    margin: 0 auto;
    padding: 1.45rem 1.0875rem;
}

section {
    padding: 90px 0 100px;
}

.hero {
    text-align: center;

    h1 {
        letter-spacing: 4px;
    }
    h2 {
        letter-spacing: 1px;
        @include margin-vert(1em);
    }
}

.intro {
    background-color: $light-gray;
    text-align: center;

    h3 {
        font-weight: 600;
    }
    p {
        margin-top: 40px
    }

    @include breakpoint-min($tablet) {
        .container {
            width: 60%;
        }
    }
}

.skills {
    h2 {
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
    }
    .columns {
        margin-top: 70px;

        .column {
            text-align: center;

            h3 {
                margin-top: 1em;
                margin-bottom: 1.5em;
            }
    
            .icon {
                height: 175px;
                width: 175px;
                line-height: 175px;
                max-width: 100%;
                background: $blue;
                border-radius: 50%;
                -o-border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                display: block;
                color: #fff;
                font-size: 55px;
                text-align: center;
                vertical-align: middle;
                position: relative;
                margin: 0 auto 50px;
                font-weight: 300;
            }
        }
    }
}

.callout {
    background-color: $light-gray;
    text-align: center;

    h2 {
        font-size: 1.3em;
        font-weight: 600;
    }
    .social {
        @include padding-vert(2em);
        a {
            font-size: 2em;
            @include padding-horiz(8px);
        }
    }
}

footer {
    background-color: $dark-gray;
    padding: 5em;
    color: $white;
    text-align: center;
    h2 {
        text-transform: none;
    }
}