@import 'variables';

.tab-container {
    .tabs-positioner {
        @include breakpoint-max($desktop) {
            overflow: hidden;
            height: 40px;
            @include margin-horiz(-20px);
            .tabs {
                min-height: 60px;
                align-items: start;
            }
        }
    }    
    .tab-content {
        display: none;

        .columns {
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;

            .column {
                margin-bottom: 1em;
                @include breakpoint-min($tablet) {
                    max-width: 25%;
                    flex-basis: 25%;
                }
            }
        }
        img {
            width: 100%;
            @include box-shadow;
            &:hover {
                cursor: pointer;
                opacity: 0.8;
                transition: opacity 0.3s;
                -webkit-transition: opacity 0.3s;
            }
        }
        &.is-active {
            display: block;
        }
    }

    .tab-contents {
        margin-top: 3em;

        ul {
            @include widthfix;
            li {
                @include breakpoint-min ($tablet) {
                    max-height: 100px;
                    max-width: 235px !important;
                    overflow: hidden;
                }
            }
        }
    }
}

@include breakpoint-max($desktop) {
    .projects {
        padding-top: 0;
    }
}