@import 'variables';

.tab-container {
    .tab-content {
        display: none;

        .columns {
            flex-wrap: wrap;

            .column {
                @include breakpoint-min($tablet) {
                    max-width: 33%;
                    flex-basis: 33%;
                }
            }
        }
        img {
            width: 100%;
        }
        &.is-active {
            display: block;
        }
    }
}